@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
  font-family: 'Mina', sans-serif;
  background: #0f172a;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.menu {
  color: white;
  font-size: 0.9rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.section {
  padding-top: 150px;
  padding-bottom: 10rem;
}

.title {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.subtitle {
  color: #838282;
  text-align: center;
  margin-bottom: 2rem;
}

.highlights {
  color: aqua;
}