@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

* {
  font-family: 'Mina', sans-serif;
  background: #0f172a;
  background-image: url(./images/sumit.svg);
}

a {
  color: white;
}

a:hover {
  color: white;
}

.menu {
  color: white;
  font-size: 0.9rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.section {
  padding-top: 130px;
}

.section2 {
  padding-top: 130px;
  height: 100vh;
}

@media only screen and (max-width: 600px) {

  .section,
  .section2 {
    padding-top: 100px;
    padding-bottom: 5rem;
  }
}

.title {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.subtitle {
  color: #838282;
  text-align: center;
  margin-bottom: 2rem;
}

.highlights {
  color: aqua;
}