option {
    background-color: #1e293b;
}

.form-select {
    background-color: transparent;
    color: #d4d4d4;
    margin-bottom: 5rem;
}

.branch_title {
    text-align: center;
    color: orange;
    margin-bottom: 2rem;
}

.table {
    color: #d4d4d4;
    text-align: center;
}
